{% extends 'base.html' %} {% block content %}
    <div class="container-fluid">
        <br><br>
        <center>
            <div class=" profile text-white text-center mt-4" style="margin: 5%">
                    <h1 class="headline text-center mt-2">Name: {{ request.user }} </h1>
                    <form method="POST" action="" class="login-form pt-4">
                        {% csrf_token %} 
                        {% for field in form %}
                        <h1 class=" headline text-center mt-2">Calorie Goal For Today</h1>
                        {{ field }} 
                        {% endfor %}
                        <br><br>
                        <button type="submit" class="btn btn-danger btn-lg"> Select </button>
                    </form>
                </div>
            </div>
        </center>
        <br>
        <h1 class="text-center headline">Records From Past Week</h1>
        <div class="row mt-4 mb-4">
            <table class="table text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Calorie Consumed</th>
                        <th scope="col">Calorie Goal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{ record.date }}</td>
                        <td>{{ record.total_calorie }}</td>
                        <td>{{ record.calorie_goal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <h1 class="text-center headline">All Food Items</h1>
        <div class="row mt-5">
            <table class="table text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Food Name</th>
                        <th scope="col">Calories</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for food in food_items %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.calorie }}</td>
                        <td>{{ food.quantity }}</td>
                        <td><a href="{% url 'update_food' food.id %}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true"> Update </a></td>
                        <td><a href="{% url 'delete_food' food.id %}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true"> Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}