{% extends 'base.html' %}

{% block content %}

<div>
  <div class="headline text-center">
    <br>
    <h1>Register</h1>
  </div>
  <br>
  <div class="register">
    <form method="POST" action="" class="login-form">
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}}
        <br>
        <br>
        {{form.email.label}}
        {{form.email}}
        <br>
        <br>
        {{form.first_name.label}}
        {{form.first_name}}
        <br>
        <br>
        {{form.last_name.label}}
        {{form.last_name}}
        <br>
        <br>
        {{form.password1.label}}
        {{form.password1}}
        <br>
        <br>
        {{form.password2.label}}
        {{form.password2}}
        <br>
        <br>
        <button type="submit" class="btn btn-danger btn-lg"> Submit </button>
    </form>
    <br> {{ form.errors }}
      <div class="d-flex justify-content-center links mt-8">
      Already have an account? <a href="{% url 'login' %}" class="ml-4"><button type="button" class="btn btn-danger btn-lg">Login</button></a>
    </div>
</div>
</div>

{% endblock content %}